#net_guard > .page-title {
    font-size: 38px;
    font-weight: bold;
    color: #252A34;
    margin-bottom: 15px;
}
#net_guard .content-title {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 6px;
}
#net_guard #totalTraffic {
    width: 100%;
    height: 270px;
}
#net_guard .nav {
    border: none;
    font-size: 14px;
}
#net_guard .nav > li {
    padding: 6px 10px;
    color: #D25C62;
    border-radius: 4px;
}
#net_guard .nav > li.active {
    color: #FFF;
    background-color: #2C70F4;
}
#net_guard .nav > li.disabled {
    cursor: not-allowed;
}
#net_guard .nav > li > a,
#net_guard .nav > li.active > a,
#net_guard .nav > li.active > a:focus,
#net_guard .nav > li.active > a:hover {
    padding: 0;
    margin: 0;
    border: none;
    color: inherit;
    background-color: inherit;
    border-radius: inherit;
}
#net_guard > .row:last-child > .col-xs-7 > .content-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#net_guard > .row {
    padding: 0 8px;
    margin: 0 0 15px 0;
    display: flex;
    align-items: stretch;
    background-color: transparent;
}
#net_guard > .row > div {
    padding: 20px;
    border-radius: 12px;
    background-color: #FFF;
    box-shadow: 0 10px 10px 0 rgba(30,58,113,0.12);
}
#net_guard > .row > div:first-child {
    margin-right: 15px;
}
#subFunction > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
    border-bottom: 1px solid #E3E6ED;
}
#subFunction > div:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
#subFunction .fnIntro {
    flex: 1;
    padding-left: 6px;
}
#toQos, #toParentControl, #toAdBlock, #toAntiVirus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #252A34;
    font-size: 16px;
    cursor: pointer;
}
#subFunction .fnInfo {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #969EAD;
}
#priorityUpTraffic, #priorityDownTraffic, #totalPriorityTraffic {
    width: 70%;
    height: 240px;
}
#net_guard .priorityData {
    width: 30%;
    height: 180px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#net_guard .priorityData > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#net_guard .priorityData > div:first-child > span:first-child {
    color: #64C39B;
}
#net_guard .priorityData > div:nth-child(2) > span:first-child {
    color: #E23829;
}
#net_guard .priorityData > div:nth-child(3) > span:first-child {
    color: #F4AF48;
}
#net_guard .priorityData > div:nth-child(4) > span:first-child {
    color: #5E7FA6;
}
#net_guard .priorityData > div:last-child > span:first-child {
    color: #A0A0A0;
}
#net_guard .priorityData > div > span:last-child {
    color: #A4A4A4;
}