:root {
	--md-primary-fg-color:        #1D428A;
	--md-primary-fg-color--light: #1D428A;
	--md-primary-fg-color--dark:  #1D428A;
      }
.md-footer {
	  background-color: #1D428A;
	  border: none;  
	  
      }
      
.md-footer-meta__inner.md-grid {
	  background-color: #1D428A;
}
.md-footer-meta.md-typeset {
	  background-color: #1D428A;
}
.md-copyright {
	  background-color: #1D428A;
}


