html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
input, form, textarea, p, th, td, hr, button, a, s, b, i {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", Airal, sans-serif, MiSans-Regular, MiSans;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
img, span {
	vertical-align: middle;
	display: inline-block;
}
ul li {
	list-style-type: none;
}
a, a:hover {
	cursor: pointer;
	text-decoration: none;
}
a:focus {
	outline: none;
	text-decoration: none;
}
body, html {
	width: 100%;
	height: 100%;
	background-color: transparent;
}
[class*="col-"], .input-group[class*="col-"] {
	padding: 0 10px;
}
.form-control, .dropdown-menu, .input-group-addon {
	/* font-size: 12px; */
}
.container {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 1200px;
	padding: 0;
	margin: 0;
	background: url("../img/bg.png") no-repeat top/cover #F3F3F3;
}
.header > .header-box {
	position: relative;
	width: 70%;
	min-width: 1080px;
	height: 90px;
	margin: 0 auto;
	color: #FFF;
}
.header-box > img {
	width: 350px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.header-box .nav-pills {
	height: 100%;
}
.header-box .nav-pills li {
	height: 100%;
	margin-left: 0;
}
.header-box .nav-pills img {
	width: 36px;
}
.header-box .nav-pills li a {
	height: 100%;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #CCE0FF;
	background-color: transparent;
	padding: 5px 8px;
	font-size: 16px;
}
.header-box .nav-pills li a:hover,
.header-box .nav-pills li a:focus {
	color: #FFF;
	background-color: transparent;
}
.header-box li.active a {
	color: #FFF;
	font-weight: bold;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 68px;
	color: #999;
	font-size: 16px;
	background-color: #FFF;
	text-align: center;
}
.footer > a {
	color: #999;
	text-decoration: none;
	vertical-align: middle;
}
.footer > a::after {
	content: "|";
	margin: 0 10px;
	font-weight: bold;
}
#wizard, #content {
	width: 70%;
	min-width: 1080px;
	height: calc(100% - 158px);
	padding: 20px 0;
	margin: 0 auto;
	overflow: auto;
}
#wizard, .container.height-auto > #content {
	padding-bottom: 70px;
}
.main {
	width: 100%;
	height: 100%;
	margin: 0;
}
.main.row {
	display: flex;
}
.main.row > div {
	height: 100%;
	background-color: #FFF;
	border-radius: 6px;
}
.main .aside {
	padding: 0;
	width: auto;
	min-width: 16%;
	height: 100%;
    overflow-y: auto;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
/* wizard */
#wizard > div {
	height: auto;
	padding: 20px 25%;
	margin-bottom: 20px;
}
.wizTitle {
	line-height: 34px;
	font-size: 18px;
	font-weight: bold;
	margin: 0 -5px 15px -5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
#dhcpTips, #ssidTips {
	font-size: 12px;
	color: #8B8B92;
	margin-top: 5px;
	text-align: right;
}
#wizMeshTips, #meshTips, #wanTips {
	font-size: 12px;
	color: #999;
	margin: 5px -5px 15px -5px;
}
#wizMeshTips > span:first-child,
.main.wireless .title, .main.network .title, .main.agent .title,
.page-content.device_status h5, #helpModal .modal-body .item .text span:first-child {
	font-weight: bold;
}
#wizard .row .control-label, #wizard #wanStatus,
.modal-body .row .control-label {
	min-height: 34px;
	font-weight: normal;
	margin-bottom: 0;
	display: inline-flex;
	align-items: center;
}
#ScanFailure > div:first-child {
	position: relative;
	text-align: center;
	margin-top: 30px;
}
#ScanFailure .imgText {
	position: absolute;
	color:#3D64A3;
	font-size: 14px;
}
#ScanFailure .imgText:nth-of-type(1) {
	top: 96px;
	right: 184px;
}
#ScanFailure .imgText:nth-of-type(2) {
	top: 240px;
	left: 65px;
}
#ScanFailure .imgText:nth-of-type(3) {
	top: 240px;
	right: 65px;
}
#imgTips {
	height: 30px;
	line-height: 30px;
	text-align: center;
	color:#F5B74B;
	font-size: 14px;
	margin: 30px 0;
}
#ScanFailure > div:last-child {
	margin-bottom: 30px;
}
#setDual, #setSysPwd {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	font-weight: normal;
}
#setDual > .switch, #setSysPwd > .switch,
.terminal .table .editName, #Sometime > #addTime {
	margin-left: 10px;
}
#app {
	width: 140px;
	margin-bottom: 20px;
}
#appTips {
	line-height: 30px;
	font-size: 12px;
	color: #8B8B92;
}
#wizard > div > .row:last-child {
	display: flex;
	justify-content: center;
}
#loadingModal.wizModal .modal-content {
	border-radius: 20px;
	width: 438px;
	height: 270px;
}
#loadingModal.wizModal .modal-body {
	height: 100%;
	padding: 30px;
}
#loadingModal.wizModal .modal-body img {
	width: 178px;
	margin-bottom: 16px;
}
/* menu list */
#menu-list .panel-default {
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
#menu-list .panel-heading {
	padding: 10px 0 10px 5px;
	color: #000;
	border: none;
	border-radius: 0;
	background-color: #FFF;
}
#wizard .btn-default:hover,
#menu-list .panel-collapse, #addRule:hover,
/* #childWifi .selectDate:hover, #childWifi .selectDate:focus,
#rebootSchedule .selectDate:hover, #rebootSchedule .selectDate:focus,
#wolModal .selectDate:hover, #wolModal .selectDate:focus, */
.modal-dialog .modal-footer .btn-default {
	color: #000;
	background-color: #FFF;
}
#menu-list .panel-title {
	cursor: pointer;
	padding-right: 30px;
	font-size: 16px;
	position: relative;
}
#menu-list .panel-title-lg {
	position: relative;
	padding-right: 25px;
	font-size: 16px;
	cursor: pointer;
}
#menu-list .panel-title img:first-child {
	width: 24px;
	margin: 0 5px;
}
#menu-list .panel-title img:last-child {
	width: 18px;
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translateY(-50%);
}
#menu-list .panel-body {
	padding: 0;
	border: none;
}
#menu-list .nav > li > a {
	font-size: 16px;
	color: #000;
	padding: 6px 10px 6px 43px;
}
#menu-list .panel-heading:not([role]).active,
#menu-list .nav > li.active,
#menu-list .nav > li.active > a {
	background-color: #E4F2FD;
	color: #4A85E1;
}
#menu-list .nav > li > a:hover {
	background-color: #E4F2FD;
}
#page {
	flex: 1;
	height: 100%;
	padding: 0 0 0 20px;
	background-color: transparent;
}
.page-content {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: transparent;
	overflow: auto;
}
.page-content.row {
	display: flex;
	justify-content: center;
}
.page-content.row > div {
	height: 100%;
	background-color: #FFF;
	border-radius: 6px;
}
.page-content.row > .content {
	margin: 0 20px 0 0;
	padding: 20px 50px;
	overflow: auto;
}
.page-content.row > .content.col-xs-12 {
	width: 100%;
	margin: 0;
}
.main.device_status > .row {
	margin: 0 0 20px 0;
	background-color: transparent;
	display: flex;
	justify-content: flex-start;
}
.main.device_status > .row [class*="col-"],
.page-content.device_status [class*="col-"] {
	padding: 0;
}
.main.device_status > .row:first-child {
	height: 300px;
	padding: 40px 20px 0 20px;
	align-items: center;
	position: relative;
	background-color: #F5F9FE;
	border-radius: 6px;
}
.main.device_status > .row:first-child h5 {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 18px;
	font-weight: bold;
}
.main.device_status > .row:first-child > .col-xs-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	color: #4A85E1;
}
.main.device_status > .row:first-child > .col-xs-2 img {
	width: 75%;
	max-width: 140px;
	margin-bottom: 15px;
}
.main.device_status > .row:first-child > .col-xs-2:first-of-type img {
	max-width: 112px;
}
.main.device_status > .row:first-child .line {
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, rgba(61,101,163,0) 0%, #3D65A3 52%, rgba(61,101,163,0) 100%);
	border-radius: 2px;
	margin: 10px 0;
}
.main.device_status > .row:last-child > div {
	min-height: 300px;
	padding: 20px;
	background-color: #FFF;
	border-radius: 6px;
}
.main.device_status > .row:last-child > div:nth-child(2) {
	margin: 0 20px;
}
.main.device_status > .row:last-child h5 {
	position: relative;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
}
.main.device_status > .row h5 > img:first-child {
	width: 24px;
	margin-right: 5px;
}
.main.device_status > .row:last-child h5 > img:last-child {
	width: 18px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	cursor: pointer;
}
.main.device_status > .row:last-child .row {
	line-height: 30px;
	margin: 0 0 10px 35px;
	display: flex;
	align-items: center;
	white-space: nowrap;
}
.main.device_status > .row:last-child .row > div:last-child {
	flex: 1;
	padding-left: 10px;
	text-align: right;
	white-space: normal;
	word-break: break-word;
}
.main.wireless > .row, .main.network > .row, .main.agent > .row {
	background-color: #FFF;
	border-radius: 6px;
	padding: 20px 30px;
	margin: 0 0 20px 0;
}
.main.wireless > .row:first-child {
	position: relative;
	display: flex;
	align-items: center;
}
.main.wireless > .row:first-child .text {
	height: auto;
	padding: 0;
	font-size: 14px;
	line-height: 20px;
	color: #666666;
}
.main.wireless .title, .main.wireless .row .control-label,
.main.network .title, .main.network .row .control-label,
.main.agent .title, .main.agent .row .control-label {
	font-size: 16px;
	line-height: 34px;
}
.main.wireless div[data-target="#helpModal"] {
	position: absolute;
	right: 20px;
	line-height: 30px;
	cursor: pointer;
}
.main.wireless #setWifi,
.main.network > .row:last-child .btn, .main.agent > .row .btn {
	min-width: 25%;
}
.main.network div[data-target="#helpModal"] {
	font-size: 16px;
	line-height: 30px;
	cursor: pointer;
}
/* terminal */
.main.terminal .tabHeader {
	padding-top: 30px;
	position: relative;
}
.main.terminal .nav-tabs {
	border-bottom: 2px solid;
}
.main.terminal .nav-tabs li {
	width: 208px;
	height: 44px;
	background-color: #FFF;
	border-radius: 8px 8px 0 0;
	margin: 0 10px 0 0;
}
.main.terminal .nav-tabs li a {
	border: none;
	font-size: 16px;
	color: #333333;
	background-color: transparent;
	text-align: center;
}
.main.terminal .nav-tabs li a:hover {
	background-color: transparent;
}
.main.terminal .nav-tabs li.active {
	background-color: #3D65A3;
}
.main.terminal .nav-tabs li.active a {
	color: #FFF;
}
.main.terminal div[data-target="#helpModal"] {
	line-height: 40px;
	cursor: pointer;
}
.main.terminal .tab-content {
	position: relative;
	height: 569px;
	padding-top: 10px;
	margin-bottom: 20px;
	background-color: #FFF;
	border-radius: 8px;
	overflow: auto;
	text-align: center;
}
/* device_status */
.page-content.device_status > .row {
	height: 230px;
	padding: 24px 0;
	margin: 0 0 20px 0;
	background-color: #FFF;
	border-radius: 6px;
}
.page-content.device_status > .row:last-child {
	margin-bottom: 0;
}
.page-content.device_status > .row > div {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.page-content.device_status > .row > .col-xs-2 {
	text-align: center;
	align-items: center;
	border-right: 1px solid #e4e4e4;
}
.page-content.device_status > .row > .col-xs-2 > img {
	width: 40px;
	margin-bottom: 10px;
}
.page-content.device_status h5,
.page-content.device_status > .row .row {
	line-height: 30px;
	padding: 0;
	margin: 0 0 0 20px;
	display: flex;
	align-items: center;
}
.page-content.device_status #lanInfo {
	justify-content: flex-start;
}
.page-content.device_status #ssid2, .page-content.device_status #ssid5 {
	line-height: 24px;
	white-space: break-spaces;
	word-break: break-all;
}
.content .row {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 14px;
}
.main .row .control-label, .content .row .control-label {
	line-height: 20px;
	font-weight: normal;
	margin-bottom: 0;
}
h5.depart-line {
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0;
	margin: 0 -5px 15px -5px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
h5.depart-line.collapsed {
	border: none;
	margin-bottom: 0;
}
hr.depart-line {
	margin: 0 -5px 15px -5px;
	border-bottom: 1px solid #ccc;
}
#ipv6AddrPreResBtn {
	width: 16px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	cursor: pointer;
}
#ipv6AddrPreResBtn.loading {
	animation: loading linear 2s;
}
@keyframes loading {
	from { transform: rotate(0); }
	to { transform: rotate(360deg); }
}
#staticInfo .input-group .form-control {
	border-radius: 4px;
}
#staticInfo .input-group .form-control:last-child {
	width: 50px;
}
#staticInfo .input-group-addon {
	width: 20px;
	padding: 0;
	border: none;
	background-color: #FFF;
}
.row.includeAddRule {
	justify-content: flex-end;
}
#addRule {
	height: auto;
	min-width: 40px;
}
#addRule > img {
	width: 14px;
}
#meshTopo {
	width: 100%;
	height: 500px;
}
#childWifi .select {
	display: inline-block;
	width: 20%;
}
#childWifi .time {
	display: inline-block;
}
.selectDate {
	width: auto;
	height: 34px;
	padding: 0 5px;
	margin: 0 0 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #FFF;
}
.selectDate.selected {
	color: #FFF;
	background-color: #1D428A;
	border-color: #1D428A;
}
/* physical */
#physical .up, #physical .down > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e4e4e4;
	margin: 0;
}
#physical .up {
	padding: 10px 0;
}
#physical .up > span:nth-of-type(2) {
	padding: 0 6px;
}
#physical .down {
	display: none;
	background-color: #eee;
}
#physical .down > div {
	padding: 8px 20px;
}
#physical .down > div > span:nth-of-type(1) {
	padding-right: 6px;
}
#upgrade h5.text {
	line-height: 24px;
	margin: 0 0 15px -5px;
}
.help {
	padding: 20px;
	overflow: auto;
}
.help > h4 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}
.help > div > h5, .help > h5 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
}
.help > div > p, .help > p {
	font-size: 14px;
	margin-bottom: 15px;
}
/* 表格 */
.per-page {
	margin: 0 -10px 15px -10px;
}
.select.dropdown.selectPerPage {
	display: inline-block;
	width: 40%;
	height: 30px;
	min-width: 60px;
	max-width: 70px;
	margin-left: 5px;
	border: none;
}
.select.dropdown.selectPerPage > .dropdown-toggle {
	padding: 5px;
}
.select.dropdown.selectPerPage > .dropdown-toggle::after {
	border-top-color: #FFF;
}
.table > thead > tr > th {
	border: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	background-color: #f2f2f2;
}
.table > tbody > tr > td {
	padding: 4px 6px 0 6px;
	line-height: 20px;
	border: none;
	text-align: center;
	vertical-align: middle;
	/* word-break: break-word;
	white-space: break-spaces; */
}
.table > tbody > tr:first-child > td {
	padding-top: 8px;
}
.table > tbody:not(#wolTbody) > tr:last-child > td {
	padding-bottom: 4px;
	border-bottom: 1px solid #ddd;
}
.table td > span {
	display: inline-block;
	padding: 5px;
	color: #000;
	background-color: #FFF;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
}
#portList .table > tbody > tr > td:nth-child(1),
#portList .table > tbody > tr > td:nth-child(5)  {
	width: 20%;
}
#portList .table > tbody > tr > td:nth-child(2),
#portList .table > tbody > tr > td:nth-child(3) {
	width: 15%;
}
#portList .table > tbody > tr > td:nth-child(4) {
	width: 30%;
}
.table .form-control {
	text-align: center;
}
.table > tbody > tr span.disabled {
	opacity: 0.5;
	color: #999;
	cursor: not-allowed;
}
.table > tbody .deleteThis {
	color: #F5A73D;
	border-color: #F5A73D;
	margin-bottom: 5px;
}
.table > tbody .editThis {
	color: #2F63DD;
	border-color: #2F63DD;
	margin-bottom: 5px;
}
.table > tbody td > .selectThis {
	margin-top: 8px;
}
.table > tbody td > .overTd {
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	max-width: 150px;
}
.table + .pagination-box {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.pagination {
	margin: 0 0 0 10px;
}
.pagination > li > span {
	padding: 0 10px;
	margin: 0 3px;
	border-radius: 4px;
	cursor: pointer;
}
.pagination > li > span:hover, .pagination > li > span:focus {
	background-color: #FFF;
}
.selectPerPage > .dropdown-toggle,
.pagination > li.active > span,
.pagination > li.active > span:hover,
.pagination > li.active > span:focus {
	color: #FFF;
	border-color: #2F63DD;
	background-color: #2F63DD;
}
/* terminal table */
.terminal .table thead th {
	font-size: 16px;
	background-color: #FFF;
}
.terminal .table tbody tr {
	border-top: 1px solid #ddd;
}
#online_devices tr > td:first-child div {
	margin-left: 25%;
	text-align: left;
	vertical-align: middle;
}
.terminal .table tbody td > div {
	margin: 8px auto;
}
.terminal .table .changeName {
	width: 60%;
}
.terminal .table .limit {
	display: inline-block;
	vertical-align: middle;
	text-align: right;
}
.terminal .table .limit_box {
	display: inline-block;
	position: relative;
	top: 6px;
	width: 120px;
	margin: 8px 0 8px 10px;
}
.terminal .table .form-control {
	display: inline-block;
	text-align: left;
	height: 26px;
	border: 1px solid #ccc;
	background-color: #FFF;
}
.terminal .table .sLimit + input {
	position: absolute;
	left: 0;
	width: 80%;
}
/* 按钮 */
.btn {
	width: auto;
	height: 36px;
	min-width: 100%;
	outline: none !important;
	padding: 4px;
	font-size: 12px;
}
.main .row:last-child .btn, .content .row:last-child .btn,
#wcloud_setting .btn, #backup_reset .btn, #repeaterupgrade .btn, #ping_or_tracert .btn,
#upgradeBtn, #phyDetectBtn, #wireGuardFileBtn, #wireGuardFileSave, #wireGuardManualSave {
	font-size: 14px;
}
/* parental control */
#control_list > .item {
	padding: 15px 20px;
	margin: 0 auto 30px auto;
	background: #FFF;
	box-shadow: 0px 2px 20px 1px rgba(15, 35, 61, 0.16);
	border-radius: 6px;
}
#control_list > .item > .row {
	margin: 16px 0;
}
#control_list > .item > .row > div {
	flex: 1;
	text-align: right;
}
#control_list > .item span {
	display: inline-block;
	width: auto;
	padding: 5px;
	margin: 0 0 5px 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #666;
}
#control_list > .item > div:last-child span {
	cursor: pointer;
	margin-bottom: 0;
}
#control_list > .item .checkBtn,
#control_list > .item .editBtn {
	color: #325CAE;
	border-color: #325CAE;
}
#control_list > .item .deleteBtn {
	color: #DA1E28;
	border-color: #DA1E28;
}
#pControlModal > .modal-dialog {
	width: 800px;
	margin-top: 10%;
}
#pControlModal #allControlSettings {
	padding: 0 15px;
	border-radius: 8px;
	border: 1px solid #ccc;
}
#allControlSettings .nav-tabs>li>a {
	color: #000;
	padding: 10px 0;
	margin-right: 30px;
	border: none;
	background-color: #FFF;
	border-top-left-radius: 8px;
}
#allControlSettings .nav-tabs>li>a:focus,
#allControlSettings .nav-tabs>li>a:hover,
#allControlSettings .btn:hover {
	background-color: #FFF;
}
#allControlSettings .nav-tabs>li.active>a,
#allControlSettings .nav-tabs>li.active>a:focus,
#allControlSettings .nav-tabs>li.active>a:hover {
	color: #325CAE;
	border-bottom: 2px solid #325CAE;
}
#allControlSettings .tab-content {
	padding: 15px 5px;
}
#allControlSettings .gray-bg {
	padding: 10px;
	margin: 0 -5px;
	border-radius: 6px;
	background-color: #F4F4F6;
}
#allControlSettings .list > div {
	display: inline-block;
	padding: 5px;
	margin: 0 5px 5px 0;
	background-color: #FFF;
	border: 1px solid #ccc;
	border-radius: 6px;
	cursor: pointer;
}
#allControlSettings .list > div > .delete {
	display: none;
	margin-left: 3px;
	transition: all 1s;
}
#allControlSettings .list > div:hover > .delete {
	display: inline-block;
}
#allControlSettings #macList, #allControlSettings #timeList {
	min-height: 100px;
}
#addMAC, #addKeyword {
	height: auto;
	margin-top: 4px;
}
#allControlSettings .title {
	padding: 0 2px;
	margin: 0 0 15px -5px;
	border: none;
	font-weight: bold;
	border-left: 2px solid #325CAE;
}
#lock a, #appFindDropdown [data-cat_filter_id] {
	color: #325CAE;
	text-decoration: underline;
}
#lockAppTag {
	display: flex;
	align-items: center;
	margin: 0 -10px 15px -10px;
}
#lockAppTag .title {
	margin-bottom: 0;
}
#appFilterInput, #appFindButton {
	height: 26px;
	padding: 2px 10px;
}
#appFindDropdown {
	width: 100%;
	max-width: 225px;
	max-height: 200px;
	overflow: auto;
	padding: 6px 10px;
	position: absolute;
	top: 26px;
	left: 0;
	border: 1px solid #ccc;
	border-radius: 6px;
	background-color: #FFF;
	z-index: 1;
}
#appFindDropdown input {
	margin: 0 6px 0 0;
	vertical-align: middle;
}
#appFindDropdown label {
	height: auto;
	margin: 0;
	line-height: normal;
	font-weight: normal;
	cursor: pointer;
}
#lock #appTypeList {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 4px;
	margin-bottom: 15px;
}
#appTypeList > .check-item {
	display: inline-flex;
	align-items: center;
	margin: 0 15px 6px 0;
}
#appTypeList > .check-item input {
	margin: 0 4px 0 0;
	vertical-align: middle;
}
#appTypeList > .check-item label {
	margin: 0;
	font-weight: normal;
	cursor: pointer;
}
#appTypeList .dropdown-menu {
	max-height: 200px;
	overflow-y: auto;
	padding: 0;
}
#appTypeList .dropdown-menu > li {
	padding: 0 10px 2px 10px;
}
#monitorData > .row:first-child {
	display: flex;
	align-items: center;
	margin: 0 -5px 15px -5px;
}
#monitorData > .row:first-child > input {
	width: 30%;
	margin: 0 6px;
}
#schedule > div:nth-of-type(3) {
	display: flex;
}
#Sometime {
	flex: 1;
	display: inline-flex;
	align-items: center;
	margin-bottom: 15px;
}
#Sometime > .selectDate {
	flex: 1;
	margin-right: 5px;
}
#Sometime > .time {
	margin: 0 5px;
}
#addTime {
	min-width: unset;
    padding: 4px 6px;
    margin-left: 6px;
}
#ark_db .btn {
	height: auto;
	font-size: 12px;
}
/* ai_qos */
#aiQoe .radio {
	display: flex;
	align-items: center;
}
#aiQoe .radio:first-child {
	margin-top: 0;
}
#aiQoe .radio:last-child {
	margin-bottom: 0;
}
#aiQoe .radio > input {
	position: static;
	margin: 0;
}
/* 提示工具 */
.tooltip-inner {
	max-width: unset;
	font-size: 12px;
	text-align: left;
	background-color: #4A85E1;
	word-wrap: break-word;
	word-break: break-word;
}
.tooltip.right > .tooltip-arrow {
	border-right-color: #4A85E1;
}
.tooltip.top > .tooltip-arrow {
	border-top-color: #4A85E1;
}
.tooltip.bottom > .tooltip-arrow {
	border-bottom-color: #4A85E1;
}
.tooltip.left > .tooltip-arrow {
	border-left-color: #4A85E1;
}
/* 下拉列表 */
.select.dropdown {
	position: relative;
	width: 100%;
	height: 34px;
	line-height: 34px;
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #555;
	cursor: pointer;
}
.select.dropdown .dropdown-toggle {
	width: 100%;
	height: 100%;
	border: none;
}
.select.dropdown .dropdown-toggle::after {
	display: block;
	content: " ";
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-top-color: #555;
	margin: 0;
}
.select.dropdown .dropdown-menu {
	padding: 0;
	width: 100%;
	max-height: 120px;
	min-width: unset;
	overflow-y: auto;
}
.select.dropdown .dropdown-menu li {
	line-height: 20px;
	padding: 2px 12px;
	margin: 0;
	text-align: center;
}
.select.dropdown .dropdown-menu > li > label {
	width: 100%;
	padding: 2px 12px;
	margin: 0;
	font-weight: 400;
}
.select.dropdown .dropdown-menu li:hover {
	background-color: #ebebeb;
}
/* 开关组件 */
.switch {
	display: inline-flex;
}
.switch-label {
	position: relative;
    width: 48px;
	height: 24px;
	margin: 5px auto;
    cursor: pointer;
    border-radius: 16px;
    background-color: #ADADAD;
    transition: background-color 0.3s ease-in 0s;
}
.switch-inner {
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 50%;
    right: 24px;
	transform: translateY(-50%);
    background: #FFF;
    transition: right 0.3s ease-in 0s;
}
.switch-checkbox:checked + .switch-label > .switch-inner {
    right: 1px;
}
.switch-checkbox[disabled] + .switch-label {
	cursor: not-allowed;
}
html, body, .container, .main, .aside, .page-content, .content, .help, .modal, .dropdown-menu {
	/* 隐藏火狐浏览器滚动条 */
	scrollbar-width: thin;
	/* 隐藏IE10+浏览器滚动条 */
	/* -ms-overflow-style: none; */
	/* 滚动条轨道颜色 */
	/* scrollbar-track-color: rgba(243, 243, 243, 0); */
	/* 滚动条两边箭头颜色 */
	/* scrollbar-arrow-color: rgba(243, 243, 243, 0); */
	/* 滚动条的颜色 */
	/* scrollbar-face-color: rgba(243, 243, 243, 0); */
	/* 滚动条阴影的颜色 */
	/* scrollbar-shadow-color: rgba(243, 243, 243, 0); */
	/* 滚动条强阴影的颜色 */
	/* scrollbar-darkshadow-color: rgba(243, 243, 243, 0); */
}
/* 更改滚动条样式 */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	border-radius: 4px;
	background-color: inherit;
}
/* 更改滚动条的轨道样式 */
::-webkit-scrollbar-track {
	border-radius: 4px;
}
/* 更改滚动条的滑块样式 */
::-webkit-scrollbar-thumb {
	background-color: #d6d6d6;
}
/* 更改横向与竖向滚动条交接处的样式 */
::-webkit-scrollbar-corner {
	background-color: transparent;
}
/* 文本域 */
textarea {
	resize: none;	/* 去除右下角条纹 */
	width: 100%;
	padding: 15px;
	border-radius: 6px;
	outline: none;
}
#systemLogFileText {
	border: 1px solid #ccc;
}
#wireGuardFileText, #output {
	background-color: #EEEEEE;
}
/* 模态框部分 */
.modal-dialog {
	width: 530px;
	margin: 30px auto;
}
.modal-dialog > .modal-content {
	padding: 0 15px;
}
.modal-dialog .modal-body {
	font-size: 14px;
}
.modal-body h5 {
	text-align: left;
	padding: 15px;
	margin: 15px -15px;
	border-bottom: 1px solid #e5e5e5;
}
.modal-dialog .modal-footer .btn {
	height: 30px;
}
.modal-body h5 > img {
	width: 8px;
	margin-top: 5px;
	float: right;
}
.modal-body .text-left > .control-label,
.form-group .text-left > .control-label {
	display: inline-flex;
	align-items: center;
}
.modal-body .text-left > .control-label > input,
.form-group .text-left > .control-label > input {
	margin: 0 4px;
}
span.input-group-addon {
	background-color: transparent;
	border: none;
}
#otaInfoModal .modal-dialog,
#OtNPPPOE .modal-dialog,
#appModal .modal-dialog {
	top: 30%;
	transform: translateY(-50%);
}
#helpModal .modal-dialog {
	width: 60%;
}
#helpModal .modal-body {
	padding: 15px 30px;
}
#helpModal .modal-body .item {
	padding: 15px;
	background-color: #F2F2F2;
	border-radius: 8px;
	color: #333333;
}
#helpModal .modal-body .item .title {
	font-size: 18px;
	font-weight: bold;
	margin: 20px;
}
#helpModal .modal-body .item .text {
	font-size: 16px;
	margin: 20px 40px;
}
#OtNPPPOE .modal-dialog, #logModal .modal-dialog {
	width: 700px;
}
.OtNPPPOETips {
	padding: 30px;
	margin: 30px 0;
	background-color: #eee;
}
#addMeshModalLabel {
	font-weight: bold;
	font-size: 18px;
}
#addMeshModal .modal-body {
	position: relative;
	height: 420px;
	font-size: 14px;
}
#addMeshModal .tips {
	margin: 20px 50px;
	text-align: left;
}
#addMeshModal #meshTable {
	height: 320px;
	overflow: auto;
}
#addMeshModal #btn-row {
	position: absolute;
	bottom: 10px;
	width: 100%;
	margin: 10px auto;
}
#addMeshModal #btn-row > .btn {
	width: 120px;
	min-width: unset;
	font-size: 14px;
}
/* 进度条 */
#loadingBarModal .modal-dialog,
#loadingModal .modal-dialog {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: unset;
}
#loadingBarModal .modal-body,
#loadingModal .modal-body {
	height: 150px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#loadingBarModal .modal-body .progress {
	width: 90%;
	height: 10px;
	border-radius: 20px;
	margin-bottom: 10px;
}
#loadingBarModal .modal-body .progress-text {
	width: 90%;
}
#loadingBarModal .modal-body .btn, #loadingModal .modal-body .btn {
	width: 40%;
	min-width: unset;
	margin-top: 10px;
}
#loadingModal .modal-body img {
	width: 80px;
}
.eyes, .wzeyes {
	position: absolute;
	width: 18px;
	height: 18px;
	right: 14px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.eyes ~ .form-control, .wzeyes ~ .form-control {
	padding-right: 26px;
}
img.selectFile {
	position: absolute;
	right: -14px;
	top: 50%;
	transform: translateY(-50%);
	width: 22px;
	cursor: pointer;
}
/* 密码强度 */
.row.include-pwd {
	flex-wrap: wrap;
}
.pwd-strength {
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.pwd-strength span {
	flex: 1;
	height: 10px;
	background-color: #c5c5c5;
}
.pwd-strength span:nth-child(2) {
	margin: 0 5px;
}
.pwd-strength.mode1 span:first-child {
	background-color: #dc2424;
}
.pwd-strength.mode2 span:nth-child(1),
.pwd-strength.mode2 span:nth-child(2) {
	background-color: #ff831e;
}
.pwd-strength.mode3 span {
	background-color: #00d76f;
}
#menu-list .nav > li, .header-box > .nav > .off,
.off, .page-content .row.off {
	display: none;
}
/* 去掉IE浏览器中密码框自带的图标 */
input[type="password"]::-ms-reveal {
	display: none;
}
.height-auto {
	height: auto;
}
#downloadApp {
	cursor: pointer;
}
.canUpgrade {
	color: #dc2424;
	cursor: pointer;
}
.icon_del {
	width:20px;
	height:20px;
	cursor:pointer;
}

#wireGuardClient #wireGuardCliTab .active {
	color: #3371B7 !important;
	cursor: default !important;
}

.wifilisttitle {
	font-weight: 600;
}

.wifilisttitle .text:first-child{
	margin-bottom: 15px;
}

.wifilisttitle .text:last-child{
	border-top: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin-bottom: 0px;
}

.wifilist {
	height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
}

.wifilist .scandynamic{
	position: absolute;
    top: 90px;
    left: 10%;
    right: 10%;
    font-size: 14px;
    text-align: center;
}

.wifilist .text{
	font-size: 16px;
	font-weight: bolder;
	color: #ff6e3b;
	line-height: 16px;
	padding-top: 200px;
	text-align: center;
}

.wifilist tr {
	cursor: pointer;
}

.wifilist tr:nth-child(odd)
{
    background-color:#eee;
}

.wifilist tr:nth-child(even)
{
    background-color:#FFFF;
}

div#repbtn {
	margin-top: 15px;
}

.form-group.row.info {
	font-weight: 600;
	margin-left: -5px;
	border-bottom: 1px solid #ccc;
}
.scroll-box {
	height: 170px;
	overflow: auto;
	padding-right: 10px;
}
